#prices h2 {
  padding: 1rem;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
}

.tab {
  margin-top: 1rem;
  border: 1px solid #f4f4f4;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1rem;
  float: left;
}

#subscriptions-tab {
  background: #f4f4f4;
}

#prices table {
  padding-top: 1rem;
  width: 100%;
}

#prices table * {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
}

.horizontalOverflow {
  overflow-x: auto;
}

#subscriptions-info {
  display: none;
  padding: 2rem 0 0 1rem;
}
