.tab {
  margin-top: 1rem;
  border: 1px solid #f4f4f4;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1rem;
  float: left;
}

.un-selected-tab {
  background: #f4f4f4;
}
