* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Utils */
.spacer {
  height: 100px;
}

.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.clearfix {
  clear: both;
}

/* header */

nav {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

h1 a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  margin: 10px;
}

li a {
  text-decoration: none;
  color: #ccc;
}

li a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.main-heading {
  margin-top: 100px;
}

/* About */
#about {
  padding-top: 100px;
}

#about h2 {
  padding: 1rem;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
}

#about p {
  font-size: 18px;
  margin-top: 1rem;
}

.logo-box {
  margin-top: 2rem;
  padding: 5rem;
  width: 50%;
  height: 33vh;
  float: left;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#epa {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f1/EPA_logo.svg");
}
#cdc {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/CDC_logo_electronic_color_name.jpg");
}

/* prices */

#prices h2 {
  padding: 1rem;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
}

.tab {
  margin-top: 1rem;
  border: 1px solid #f4f4f4;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1rem;
  float: left;
}

#subscriptions-tab {
  background: #f4f4f4;
}

#prices table {
  padding-top: 1rem;
  width: 100%;
}

#prices table * {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
}

.horizontalOverflow {
  overflow-x: auto;
}

#subscriptions-info {
  display: none;
  padding: 2rem 0 0 1rem;
}

#subscriptions-table {
  display: none;
}

/* Contact */

#contact {
  background: #000;
  color: #fff;
}

#contact h2 {
  padding: 1rem;
  text-align: center;
  font-weight: lighter;
}

#myForm {
  margin-bottom: 4rem;
}

#myForm * {
  width: 100%;
  border: none;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  outline: none;
}

#myForm input[name="bot-field"] {
  display: none;
}

#myForm input[type="submit"] {
  background-color: deepskyblue;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.numbers {
  float: left;
  color: #fff;
  padding-top: 1rem;
}

.numbers a {
  color: #fff;
}

.whatsapp-button {
  margin-top: 2rem;
  float: right;
  background: #25d366;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 7px;
  text-decoration: none;
}

/* Copyright */

.copyright {
  padding-top: 30vh;
  text-align: center;
}
