* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Utils */

.spacer {
  height: 4rem;
}

.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.clearfix {
  clear: both;
}

/* header */

nav {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
}

h1 {
  text-decoration: none;
  margin: 5px;
}

h1 a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  margin: 10px;
}

li a {
  text-decoration: none;
  color: #ccc;
}

li a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* Contact */

#myForm input[name="bot-field"] {
  display: none;
}
